maxar data/
omnicloudmask/__pycache__
omnicloudmask/models/*PT.pth
test data/
Sentinel-2 data/
build/*
omnicloudmask.egg-info/*
dist/*
Maxar data/*
.coverage
tests/__pycache__/*
*.tif.aux.xml
validation dataset/Sentinel-2/dataset/*
validation dataset/Landsat/dataset/*
validation dataset/Landsat*
validation dataset/Sentinel-2/*
tests/custom_models/*
omnicloudmask/models/.*
omnicloudmask/models/models--NickWright--OmniCloudMask/*
training/convert models.ipynb
custom_models/*
*.DS_Store
omnicloudmask/models/*.safetensors
training/__pycache__/*
