maxar data/
omnicloudmask/__pycache__
omnicloudmask/models/*PT.pth
test data/
Sentinel-2 data/
build/*
omnicloudmask.egg-info/*
dist/*
Maxar data/*
speed test.ipynb
playground.ipynb
.coverage
tests/__pycache__/*
*.tif.aux.xml
